* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #A97D6D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 60px;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00bcd4;
}

.hero-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.image-item {
    min-width: 100%;
    height: 100%;
}

.image-item img {
    width: 100%;
    height: 100%;
    display: cover;
}

.footer {
    background-color: #393434;
    color: white;
    text-align: center;
    padding: 20px 0;
}
